* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3, h4, h5, h6, li{
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size: 1.5rem;
}


p, a{
	font-family: 'Open Sans', sans-serif;
}

#containerhome{
	max-width: 1000px;
	margin: auto;
	background-image: url(images/sleeping-red-panda.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: solid 1px #cccccc;
}

#container{
	max-width: 1000px;
	margin: auto;
}


header{
	background-color: #ffffff;
	padding: 1.5%;
	text-align:center;
}

header img{
	width: 70%;
	padding-top: 1%;
	max-width: 230px;
}

nav ul{ 
    list-style-type: none;
    padding: 2% 0% 2% 0%;
}


nav ul li{
    display: inline;
    padding: 3%;
    font-size: 1rem;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover{
    color: #F22525;
}

.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #F22525;
    opacity: 0.3;
    transition: all 0.3s;
}

.pullDown a:hover:before
{
    height: 100%;
}

#mainhome{
	padding-top: 350px;
}


#intro{
	color: #A8A7A7;
	text-align: center;
	background-color: #ffffff;
	width: 80%;
	margin:auto;
	padding: 4%;
	font-size: 1rem;
}

#h1home{
	color:#F22525;
	padding-bottom: 5%;
	text-align: center;
}

#h1sub{
	background-color: #F22525;
	color:#ffffff;
	text-align: center;
	padding: .5%;
}

.button{
	background-color: #F22525;
	color: #ffffff;
	width: 40%;
	padding: 2%;
	margin:auto;
	margin-top: 4%;
}

.button a{
	text-decoration: none;
	color: #ffffff;
}

.button:hover{
	background-color: #000000;
	color: #ffffff;
}

.image-grid{
	display:flex;
	flex-wrap: wrap;
	margin-top: 5%;
}

figure {
	width: 100%;
	padding: 0% .25% 0% .25%;
}

img {
	max-width: 100%;
}

/* NOW SUB PAGES */

#h1sub{
	background-color: #F22525;
	color:#ffffff;
	text-align: center;
	padding: .5%;
}

#mainsub p{
	padding: 3%;
}



@media (min-width: 500px){
	nav ul{ 
    	padding: 1% 0% 1% 0%;
	}

	#intro{
		width:70%;
	}

	figure {
		width: 49%;
	}
}

@media (min-width: 600px){
	#intro{
		width:60%;
	}
}

@media (min-width: 700px){
	#intro{
		width:50%;
	}

	figure {
		width: 24%;
	}
}

@media (min-width: 800px){
	#intro{
		width:40%;
	}
}