* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3, h4, h5, h6, li{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
}


header{
	background-color: #000000;
	padding: 1.5%;
	text-align:center;
}

header img{
	width: 70%;
}

nav ul{ 
    list-style-type: none;
    padding: 5% 0% 5% 0%;
}


nav ul li{
    display: inline;
    padding: 3%;
    font-size: 1rem;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #F22525;
}

